@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Aqui poderás encontrar anedotas hilariantes criadas pelos próprio utilizadores.</p>
    <p>Tens alguma anedota? Compartilha conosco a partir de anedotas e criar anedota</p>
    <img src="images/dentures-fail.gif" width="300"/>
</div>